[package]
name = "ginepro"
version = "0.5.1"
authors = ["Helge Hoff <helge.hoff@truelayer.com>"]
edition = "2021"
description = "A client-side gRPC channel implementation for tonic"
repository = "https://github.com/TrueLayer/ginepro"
license = "MIT OR Apache-2.0"
keywords = ["gRPC", "tonic", "channel", "load", "balancer"]
categories = ["asynchronous", "web-programming"]
readme = "../README.md"

[dependencies]
tonic = { version = "0.8", features = ["tls"] }
tower = { version = "0.4", default-features = false, features = ["discover"] }
anyhow = "1"
tokio = { version = "1", features = ["full"] }
trust-dns-resolver = "0.21"
async-trait = "0.1"
tracing = { version = "0.1", features = ["log", "attributes"] }
http = "0.2"
thiserror = "1.0.29"

[dev-dependencies]
shared-proto = { path = "../shared_proto" }
tests = { path = "../tests" }
proptest = "1.0.0"
